.header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 8px;
}

.header > .logo {
  color: var(--color-black);
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
