.product-full {
  background-color: var(--color-white);
  padding: 24px;

  display: flex;
  flex-direction: column;
}

.product-full__image {
  max-width: 100%;
  height: 280px;
  object-fit: contain;
}

.product-full__content {
  padding: 8px 12px;
}

.product-full__title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  margin-top: 0;
  margin-bottom: 8px;
}

.product-full__description {
  font-size: 0.875rem;
  line-height: 1.375rem;

  margin-bottom: 8px;
}

.product-full__price {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;

  margin-bottom: 22px;
}

.product-full__cta {
  border: 1px solid var(--color-black);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 10px 90px;
}

@media screen and (min-width: 768px) {
  .product-full {
    flex-direction: row;
  }
}
